<!--<h1 align="center">To-Do App</h1>-->
<form action="/add_task" method="POST">
<input type="text" name="task" /><br>
<input type="submit" value="Add Task" />
</form>
<ul>
<% if tasks %>
<% tasks.each do |task|  %>

<% if task.completed %>
	<li class="strikethrough">
<% else %>
	<li>
<% end %>
 
 <%= task.content  %>

    <!--Important-->
	<form action="/typei" method="POST">
	<input type="hidden" name="task_id" value="<%= task.id %>"/>
	
	<% if task.type_i %>
	<input type="submit" value="Important" class="important">
	<% else %>
	<input type="submit" value="Not-Important">
	<% end %>
	
	</form>

	<!--Urgent-->
	<form action="/typeu" method="POST">
	<input type="hidden" name="task_id" value="<%= task.id %>"/>
	
	<% if task.type_u %>
	<input type="submit" value="Urgent" class="urgent">
	<% else %>
	<input type="submit" value="Not-Urgent">
	<% end %>
	
	</form>
	
	<!--Toggle Task-->
	<form action="/toggle_task" method="POST">
    <input type="hidden" name="task_id" value="<%= task.id %>"/>
    <input type="submit" value="Toggle Task">

	</form>

	<!--Remove Task-->
	<form action="/delete" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="hidden" name="task_id" value="<%= task.id %>"/>
    <input type="submit" value="Remove Task">
    </form>


</li>
<% end %>

  <% end %>
</ul>
<form action="/signout" method="POST">
<input type="submit" value="Logout">
</form>

<style>
     body{
     	background-color: blanchedalmond;
     }
	.strikethrough {
		text-decoration: line-through;
	}
	.urgent{
		background-color: burlywood;
	}
	.important{
		background-color: coral;
	}
	h1 { 
        font-family: Arial;
        font-size: 3.2em;
        border-color: teal;
        border-width: 5px;
        border-style: dotted;
        padding:10px;
    }
</style>
